*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #FCFCFC;
    background-color: #0F0F0F;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 550px;
    padding: 20px;
    background-color: #181818;
    border-radius: 10px;
}

.card h1{
    font-weight: 300;
    padding: 15px 0 15px 0;
    font-size: 28px;
}

.logo{
    margin: 10px;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid #2E3031;
    background: linear-gradient(to bottom, #2f2f31, #141516);
}

.logo img{
    width: 50px;
}

.register{
    display: flex;
    color: #8D8D8D;
    font-size: 14 px;
    margin-bottom: 40px;
}

.register a{
    margin-left: 5px;
    color: #FCFCFC;
}

.card input {
    padding: 12px;
    width: 450px;
    border: 1px solid #2E3031;
    border-radius: 5px;
    background-color: #111111;
    font-size: 16px;
    font-weight: 530;
    margin-bottom: 20px;
}

.login{
    color: #FCFCFC;
    padding: 12px;
    width: 475px;
    border: 1px solid #2E3031;
    border-radius: 5px;
    background-color: #3073D5;
    font-size: 16px;
}