*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #FCFCFC;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-color: #0F0F0F;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 550px;
    background-color: #181818;
    border-radius: 10px;
}

.logo{
    margin-top: 25px;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid #2E3031;
    background: linear-gradient(to bottom, #2f2f31, #141516);
}

.logo img{
    width: 50px;
}

.card h1{
    font-weight: 300;
    padding: 25px 0 15px 0;
    font-size: 28px;
}

.register{
    display: flex;
    font-size: 14 px;
    margin-bottom: 40px;
}

.register p{
    color: #8D8D8D;
}

.register a{
    margin-left: 5px;
    color: #FCFCFC;
}

.card input{
    padding: 12px;
    width: 425px;
    border: 1px solid #2E3031;
    border-radius: 8px;
    background-color: #111111;
    font-size: 16px;
    font-weight: 530;
    margin-bottom: 25px;
}

.toggle{
    position: absolute;
    width: 24px;
    right: 40px;
    top: 306px;
    cursor: pointer;
}

.login{
    color: #FCFCFC;
    padding: 12px;
    width: 450px;
    border: 1px solid #2E3031;
    border-radius: 8px;
    background-color: #3073D5;
    font-size: 16px;
    margin-bottom: 25px;
    cursor: pointer;
}

.login:hover{
    background-color: #23539c;
}

.border{
    margin-bottom: 25px;
    display: flex;
}

.border p{
    font-size: 13px;
    font-weight: 600;
    color: #838383;
}

.line1{
    width: 205px;
    height: 1px;
    background-color: #838383;
    margin:  8px 8px 0 0;
}

.line2{
    width: 205px;
    height: 1px;
    background-color: #838383;
    margin:  8px 0 0 8px;
}

.alternatif{
    margin-bottom: 25px;
}

.alternatif button{
    border: 1px;
    border-radius: 10px;
    background-color: #252525;
    width: 140px;
    height: 45px;
}

.alternatif button:hover{
    background-color: #202020;
}

.alt_img{
    margin: 0 4px 0 4px;
    cursor: pointer;
}

.alt_img img{
    width: 20px;
}
